

.NewBLogCard {
    margin: 0px;
     padding: -10px; 
     box-sizing: border-box; 
    border-radius: 0px;
    background-color:#1d21243b;
    height: 100vh;
    display: flex;
}

.Container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

/* #part2{
background-color: yellow;

} */

p{
 padding-right: 34px;
}


@media(min-width: 992px){

    .NewBLogCard{
        width: 100%; 
        display: block;
    }

}
