
    .but {
        margin-top: 10px;
        opacity: 0.74;
    }

    .ExPa{
        font-size: 20px;
    }

    .paper {
        /* margin-top: theme.spacing(0); */
        display: 'flex';
        flex-direction: 'column';
        align-items: 'center';
    }


    /* .form {
        width: 100%;
        
     } */
       .TextField {
          background-color:white;
         border-radius: 5px;
         /* width: 50%;  */
        }  */
    
     .submit {
         /* margin: theme.spacing(3, 0, 2), */
         /* background-color: "#009900";  */
         font-weight: 'bold';
     }

     /* large {
          width: theme.spacing(16);
         height: theme.spacing(16); 
        } */

     .ExPa {
         margin-top: 10px;
         font-size: 40px;
         font-weight: 'bold';
     }
     .Quick {
         margin-top: 5px;
     }

    .que {
        opacity: 1;
    }

    .ProfilePhoto {
        background: 'green';
    }

    #part2{
    /* background-color: blue; */
    margin-bottom: 30px;
    }

    p{
        /* font-size: 10px; */
        margin-bottom: -50px;
    }